# Dependencies
node_modules
.env

# Hardhat files
cache
artifacts
coverage
coverage.json
typechain
typechain-types

# Deployment files
ignition/deployments/chain-31337

# System files
.DS_Store
*.swp
*.swo

# IDE files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*